bin/
build/
deployments/
tmp/
scripts/
docs/
config/

Makefile
README.md

.git
.gitignore
.gitattributes
.dockerignore
.editorconfig
.env
.env.example

Dockerfile
dev.Dockerfile
docker-compose.yml

*.log