server:
  host: "0.0.0.0"
  port: 3033
  log_level: info
  with_tls: false
  pem: ""
  key: ""


container_template:
  image_name: csplatform-env/py-jdk-8:latest
  container_name: code-server-%s
  restart: unless-stopped
  environment:
    TZ: Europe/Istanbul
    DEFAULT_WORKSPACE: /config/workspace
    SUDO_PASSWORD: admin  
  sysctls:
    net.ipv6.conf.all.disable_ipv6: "1"
    net.ipv6.conf.default.disable_ipv6: "1"
    net.ipv4.tcp_keepalive_time: "60"
    net.ipv4.tcp_keepalive_intvl: "10"
    net.ipv4.tcp_keepalive_probes: "5"
  expose:
    - 8443
    - 80
    - 443
    - 3000
    - 5000
    - 8000
    - 8080
    - 8081
    - 8082
    - 9000
  mem_limit: "8192m"
  cpus: 4
  extra_host:
    - "example.com  example:10.0.0.1"
    - "example2.com example2:10.0.0.2"
  volumes:
    - /test:/test
  networks:
    codeserver_net: "" # dummy identifier
  ports:
    - "33139:33139"
    - "45029:45029"

agent_metadata:
  instance_id: "87e3b4fb-572d-428f-baec-df179937ebaa"
  service_name: "container_service"
  main_host: "code-server-agent-dev:3033"
  main_host_proto: "http"
  host_port: "code-server-agent-dev:3033"
  host_port_proto: "http"
  version: "1"
  region: "default"
  server_url: "http://code-server-proxy-dev:1081"
  x_agent_key: "mBdLdSbs5MTwSCd0imxWyWQ93B0/bNQR1JaVwtSyegy5MvfkmfgC2hnKdBgs4qcTDEBV58x5htuetStGZzm/KQ=="
  tags:
    spark_driver_host: 127.0.0.1

secrets:
  jwt_access_key: fgxRi7cwdEtwZvBM4X5mQAk45yy06T7HHxBIRGVCaUA=
  jwt_refresh_key: awkK3guFZymHpSi5Z3XW/tae650QRSlWNPt0QdV4IqcbBtMf7JkMv1K1jSqNRWd3TQ1epI1cJFVvrBhOWAvhrQ==
  jwt_issuer: csplatform-server
  jwt_audience: csplatform-client
  session_secret: UMhqEpLkQBo5VzBMSwEJG78DMgm8OAapRnJqCEt+7OH/nLJfBAHEUW165OEiOu3iCZID7TIoK0ek1bG8AxGm8g==

redis:
  host: 'code-server-redis'
  port: 6379
  password: '123456'
  db: 1
